#productos-container{
    width: 500px;
    margin: auto;
}

.tarjeta-producto {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    align-items: center;
}

.tarjeta-producto img {
    height: 100px;
    aspect-ratio: 1,5;
}

.tarjeta-producto h3 {
    width: 130px
}

#totales , #carrito-vacio {
    text-align: center;
}


@media screen and (max-width: 500px) {
    #productos-container{
        width: 100vw;
        margin: auto;
    }
    
    .tarjeta-producto {
        display: flex;
        gap: 10px;
        padding-top: 10px;
        align-items: center;
    }
    
    .tarjeta-producto img {
        height: 80px;
        aspect-ratio: 1,5;
        padding-left: 10px;
    }
    
    .tarjeta-producto h3 {
        width: 100px;
        padding-left: 10px;
    }
    
    #totales , #carrito-vacio {
        text-align: center;
    }
}